.icon-container {
  background-color: #FF69B4; /* 粉紅桃紅色 */
  border-radius: 50%; /* 圓形 */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.icon {
  font-size: 24px;
  color: white;
}

.ant-menu-item-selected {
  background-color: #ADD8E6 !important; /* 淺藍色 */
  color: #333 !important; /* 深灰色文字 */
}

.ant-menu-item-selected .ant-menu-title-content {
  color: #333 !important; /* 確保深灰色文字 */
}

.ant-menu-item:hover {
  background-color: #B0E0E6 !important; /* 淺藍色 */
}

.ant-menu-item {
  color: #FFFFFF !important; /* 白色文字 */
}

.demo-logo-vertical {
  background-color: #1A1A1D; /* 深灰色背景 */
}

/* 
.ant-layout-sider {
  background-color: #06060b !important; 
}

.ant-layout-header {
  background-color: #1C1C2E !important;
}  
*/

.glassy-button {
  background: linear-gradient(145deg, #5fffe6, #2acfc4); /* 明亮漸層 */
  border: 1px solid #20b8a3;
  color: #000;
  font-weight: bold;
  border-radius: 8px;
  padding: 6px 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  cursor: pointer;
}

/* 滑鼠移上去的立體浮起效果 */
.glassy-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}